# Dépendances
node_modules/
*/node_modules/

# Environnement (JAMAIS dans Git)
.env
.env.local
.env.production
server/.env
client/.env

# Build
client/dist/
server/dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Tests
coverage/
